@import '../../generate-blog/scss/colors';

.container {
	display: none;
    background: lighten($pink, 20%);
    width: 100%;
    height: 10px;
	overflow: hidden;
	
	&.show {
		display: block;
	}
  }
  
  $barWidth: 30%;

  .bar {
    position: relative;
    height: 100%;
    width: $barWidth;
    background: $pink;
    animation: slidein 3s infinite;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes slidein {
    0% {
      left: 0%;
    }
  
    50% {
      left: 100% - $barWidth;
    }
    
    100% {
      left: 0%;
    }
  }
