@import '../../generate-blog/scss/colors';

.posts, .pages {
	margin-top: 20px;
	max-height: 400px;
	overflow: auto;

}

.posts {
	td {
		border-bottom: solid 1px #b3b3b3;
		padding-bottom: 15px;

		&.date {
			padding-bottom: 0;
		}
	}
}

table {
	width: 100%;
	border-spacing: 0px 10px;

	.date {
		text-align: center;
	}

	.table-title {
		text-align: left;
	}

	.tags {
		margin-left: 20px;
	}
}
