@import '../../generate-blog/scss/colors';

#tag-modal {
	label {
		display: block;
		margin-bottom: 10px;

		span {
			font-weight: bold;
			margin-right: 8px;
		}
	}

	.tag-preview {
		margin-top: 24px;
	}

	.tag {
		display: inline;
		background: $pink;
		color: white;
		min-width: 50px;
		font-size: 1.3em;
	}

	.buttons {
		margin-top: 35px!important;
	}
}
