@import '../scss/colors';
@import '../scss/mixins';

$socialIconSize: 35px;

#header {
	background: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 28px;
    color: $black;
    margin: 20px 0;
    margin-bottom: 10px;
    
    > div {
        width: 100%;
    }
    
    .logo {
        z-index: 2;

        .main {
            display: inline-block;
            font-size: 45px;
            cursor: pointer;
            text-decoration: none;

            @include narrow {
                font-size: 36px;
            }
        }

        .sub-title {
            font-size: 18px;
            font-family: 'Homemade Apple';
            font-weight: 100;
            margin-left: 4px;
            color: $gray;

            @include narrow {
                font-size: 14px;
            }
        }
    }

    #nea {
        color: $pink;
    }

    #politan {
        color: black;
    }

    #makes {
        color: $brown;
    }

    .nea-social {
        position: absolute;
        right: 30px;
        top: 28px;
    }
}

.nea-social {
    display: flex;
    justify-content: flex-end;

    @include mediumWide {
        display: none;
    }

    $marLeft: 6px;

    .wrapper {
        background: $pink;
        height: $socialIconSize;
        width: $socialIconSize;
        border-radius: $socialIconSize;
        margin-left: $marLeft;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrapper2 {
        background: $brown;
    }

    #instagram {
        height: $socialIconSize - 13px;
    }

    > img {
        height: $socialIconSize;
        margin-left: $marLeft;
    }

    .wrapper, > img {
        cursor: pointer;
    }
}

#tabs {
    position: sticky;
    top: 0px;
    background: $white;
    color: $black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
    padding: 10px 0;
    z-index: 2;

    @include narrow {
        display: none;
    }

    .container {
        display: flex;
        padding: 0px 30px;
        font-size: 1.1em;
        justify-content: space-evenly;
        align-items: center;
    }

    
    .divider {
        width: 2px;
        height: 35px;
        background: $black;
        
        &:first-child, &:last-child {
            opacity: 0;
            // width: 50px;
            flex-grow: 1;
        }
    }
}

.tab {
    padding: 6px 10px;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
    margin: 0 5px;
    transition: background 200ms linear;

    &.active {
        background: $white;
        color: $black;
    }

    &:not(.active):hover {
        background: $pink;
        color: $white;
    }
}

#hamburger {
    display: none;
    z-index: 4;
    
    @include narrow {
        position: absolute;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        padding: 10px;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        background: #fdfdfd;
        width: 40px;
        height: 40px;
        border-radius: 30px;
        box-shadow: 1px 1px 3px 1px #00000059;
        background: $pink;
        top: 26px;
        right: 30px;
    }

    div {
        background: white;
        height: 2px;
        width: 100%;
        transition: all 0.5s cubic-bezier(0.65, 0.03, 0.4, 1.03);

        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }

    &.open {
        .top {
            transform: translate(-4px, 12px) rotate(45deg);
            width: 15px;
        }

        .middle {
            transform: rotate(180deg);
        }

        .bottom {
            transform: translate(-4px, -12px) rotate(-225deg);
            width: 15px;
        }
    }
}
