@import '../scss/colors';
@import '../scss/mixins';

.recent-posts-title {
	font-size: 24px;
	margin-top: 20px;
	margin-left: 20px;
	
	@include narrow {
		font-size: 20px;
	}
}

.post-cards {
	margin-bottom: 50px;

	.row {
		display: flex;
	}

	$cardSize: 200px;

	.post-card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		color: $black;
		margin: 20px;
		background-repeat: no-repeat;
		background-size: cover;
		height: $cardSize;
		width: $cardSize;
		width: 50%;
		box-shadow: 2px 2px 6px 1px #848484d1;

		
		&:hover {
			.title {
				background: #ffffffd4;
			}
		}
		
		.title {
			font-weight: bold;
			font-size: 20px;
			background: #ffffffa3;
			width: 100%;
			padding: 10px 16px;
			text-align: center;
			transition: all 0.5s;
		}
		
		img {
			max-width: $cardSize;
			max-height: $cardSize;
		}

		@include narrow {
			$size: 150px;
			height: $size;
			max-width: $size;

			.title {
				font-size: 18px;
			}
		}

		// @include phone {
		// 	$size: 100px;
		// 	height: $size;
		// 	max-width: $size;

		// 	.title {
		// 		font-size: 14px;
		// 	}
		// }

	}
	
	&.large {
		display: block;
	}

	&.small {
		display: none;
	}

	@include large {
		&.large {
			display: none;
		}

		&.small {
			display: block;
		}
	}
}
