#body {
	display: flex;
	overflow: hidden;
}

#backdrop {
	position: absolute;
	opacity: 0;
	transition: opacity 0.5s;
	background: #6e6e6e80;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	&.closed {
		z-index: -1;
	}
	
	&.open {
		z-index: 2;
		opacity: 1;
	}
}
